@page
@model ProyectoArqSoft.Pages.Auth.LogoutModel
@{
}

<form method="post" asp-page="/Auth/Logout" style="display:inline;">
    <button type="submit" class="btn btn-link">Cerrar Sesión</button>
</form>

